<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot 实战</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>

</head>
<body>
<!--<p th:text="'Hello, ' + ${name} + '!'"/>-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Spring Boot 实战</span>
                <span class="icon-bar">。。。。</span>
                <span class="icon-bar">。。。。。。</span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://localhost">Spring Boot 实战</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://192.168.1.100:8804">我的世界服务器管理 <span class="sr-only">(current)</span></a>
                </li>
                <li><a href="http://192.168.1.100">家庭云盘</a></li>
                <li><a href="http://192.168.1.100:9999/admin">pi-hole</a></li>
                <li class="dropdown">
                    <a href="http://192.168.1.252" class="dropdown-toggle" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">路由器管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">001</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="搜索问题" class="btn btn-default">搜索问题</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://github.com/login/oauth/authorize?client_id=346a2047d249ad02e3c2&redirect_uri=http://192.168.1.103/callback&scope=user&state=1">登录</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">我<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">消息中心</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</body>
</html>